@import "theme";
@import "~bootstrap/scss/bootstrap";
@import "overrides";
@import "variables";
@import "colors";

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-bg;
  font-size: $font-size-base;
}
